###############
#    folder   #
###############
.vs/
.vscode/
TEMP/
packages/
**/bin/
**/obj/

###############
#  temp file  #
###############
*.log
*.tmp
*.vsprops
*.suo
*.user
*.exe
*.pdb
*.sln.docstates
